body {
	background:url(../imgs/back.jpg);
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
}
.header	 {
	background-color:#2E6BAC;
	height: auto;
	position: fixed !important;
	z-index: 99;
}

.header-logo {
	margin:5px;
	transition: 1s;
}

.header-logo:hover {
	opacity: 0.8;
}


.menu-top {
	float: right;
}

.menu-top ul {
	margin:0;
	padding: 0;
	height: 0;
	height: 80px;
	line-height: 80px;
}
.menu-top ul li {
	padding: 0 !important;
	margin: 0 !important ;

}
.menu-top ul li a{
	border:0;
	padding-bottom: 0;
	padding-top: 0;
	margin: 0;
	color: white;
	border-radius: 0;
	font-size: 14px;
	border-bottom: 2px solid transparent;

}
.menu-top ul li a:hover {
	background-color: transparent;
	color: black;
	transition: 1s;
	border-bottom: 2px solid black;
}

.input-busca {
	border-radius: 0 !important;
	width: 50px;
	background-color: #2F5F94 !important;
	border: 0 !important;
	font-size: 16px;
	font-style: italic;
	box-shadow: 0 0 0 0;
	border: 0 none;
	outline: 0;
	transition: 2s;
	color:white !important;
	padding-right: 30px !important;
}

.input-busca::-webkit-input-placeholder {
	color: white !important;
}
.input-busca:hover {
	box-shadow: 0 !important;
}

.input-busca:focus {
	box-shadow: 0 0 0 0 !important;
	color: black !important;
	background-color: white !important;

}

.input-busca:focus::-webkit-input-placeholder{
	color: black !important;
}

.input-busca:focus + .btn-busca{
	color: #2F5F94 !important;
}

.btn-busca {
	position: relative;
	right: 42px;
	border-radius: 0 !important;
	border:0 !important;
	height: 32px !important;
	background-color: transparent !important;
	color:white !important;

}

.header-background {

}

.conteudo-principal h1{	
	background-color: black;
	opacity: 0.8;
	line-height: 300px;
	color: white;
	text-align: center;
	padding: 0;
	position: relative;
	width: 100%;
	margin-top: 80px;
}

.footer {
	background-color: #00488d !important;
	width: 100% ;
	height: auto; 
	padding: 10px;
	clear: both;
}

.footer .container {
	padding: 0;
	margin: 20px;

}


.footer .social-networks {
	margin:0;
	float:right;
}

.footer .social-networks h2 {
	margin:0;
	padding: 0;
	color:white;
	font-family: 'Raleway', sans-serif;
}

.footer .social-networks .social-networks-icons {
	margin:auto;
	width: 160px;
	margin-top: 5px;
	margin-bottom: 20px;

}

.footer .social-networks .social-networks-icons img {
	width: 30px; 
	height: 30px;
	float: left;
	margin-right:10px;
	transition: 1s;
}

.footer .social-networks img:hover {
	opacity: 0.5;
}

.footer .img-footer-logo  {
	float: left;
}

.footer nav {
	float: left;
	margin-left: 10px;
}

.footer section nav ul li {
	color: white;
	font-size: 15px;
	line-height: 20px;
}
#wrapper {
	min-height: 94.2vh;
	padding: 0;
	padding-bottom: 10px;	
	margin: 0;
	width: 100%
}